# version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text based install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --activate

# Root password
rootpw --iscrypted $6$SDbYbd6/NUEj6zyQ$ldAIWU9rjjtfYCRyvuf0x5mMiOlEUEwAsDB0.RdPSWj5pRyBzDKXAYSfdIzueoXjYTnqq1rVB9a4O3jSeL7B.1
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
clearpart --all
# Disk partitioning information
part / --fstype=xfs --size=3814
part /var --fstype=xfs --size=953
part swap --fstype=swap --size=953

#reboot system automatically
reboot 

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

#post install scripts with logging located within the root folder
%post --log=/root/ks-post.log

#install updates and needed packages
yum update -y
yum install nfs-utils -y
yum install nss-pam-ldapd -y
yum install openldap-clients -y

#LDAP Configuration
authconfig --enableldap --enableldapauth --ldapserver=10.2.7.49 --ldapbasedn="dc=cit470,dc=nku,dc=edu" --enablemkhomedir --update
systemctl restart nslcd

#NFS Configuration
systemctl enable rpcbind
systemctl start rpcbind
echo "10.2.7.49:/home 			  /home 		  nfs	  defaults 	 0 0" >> /etc/fstab

#mount NFS 
mount /home

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
